.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  min-height: 100vh;
}
.heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #2d3a35;
  text-align: center;
}
.description {
  font-family: 'Roboto';
  font-size: 20px;
}
.count {
  color: #c20a72;
}
.click-me-button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 8px;
}
